
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>TELA DE INICIO</title>
</head>
<body>

<h2>Bem-vindo ao Sistema de Gestão Escolar!</h2>

<p><a href="{% static 'base.html' %}">Base</a></p>
<p><a href="{% static 'lista.html' %}">Lista</a></p>
<p><a href="{% static 'detalhe.html' %}">Detalhe</a></p>
<p><a href="{% static 'novo.html' %}">Novos</a></p>

<p>
    Este sistema permite gerenciar alunos, visualizar informações
    e cadastrar novos estudantes.
</p>


</body>
</html>