
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>LISTA DE ALUNOS</title>
</head>
<body>
    {% extends 'base.html' %}

{% block title %}
Lista de Alunos
{% endblock %}

{% block content %}

<h2>Lista de Alunos</h2>

<a href="{% url 'novo' %}" class="botao">
    Novo Aluno
</a>

<table>
    <tr>
        <th>Nome</th>
        <th>Ação</th>
    </tr>

    <tr>
        <td>João Silva</td>
        <td>
            <a href="{% url 'detalhe' %}">
                Ver
            </a>
        </td>
    </tr>

    <tr>
        <td>Maria Souza</td>
        <td>
            <a href="{% url 'detalhe' %}">
                Ver
            </a>
        </td>
    </tr>

</table>

{% endblock %}
</body>
</html>